<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>friend</title>
    <link rel="stylesheet" href="/static/chatroom.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <img src="/static/chatpic.png" id="chpic" >
            <button class = "friend">
            </button>
            <button class = "login">
                logout
            </button>
            
            
          

        </div>
        <script src="/static/chatroom.js"></script>

        <div class ="chatbox" >
            
            
        </div>

    </div>
    

    
</body>
</html>