<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>friend</title>
    <link rel="stylesheet" href="/static/chatroom.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <img src="/static/chatpic.png" id="chpic" >
            <button class = "friend">
            </button>
            <button class = "login">
                logout
            </button>
        </div>
        <div class="chatbox">
            {% for friend, last_message in friends %}
                <button class="friendlist">
                    {{ friend }}
                </button>
                <div class="last">{{ last_message }}</div>
                <br>
            {% endfor %}
        </div>
    </div>
    <script src="/static/chatroom.js"></script>
</body>
</html>