<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대화 페이지</title>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body>

    <div class="chat-container" id ="chat-container1">
        
        <div class="chat-box" id="chat-box1" >
            
            <textarea id="message-input" ></textarea>
            <input type="file" id="file-input" accept="image/*,video/*">
        </div>

        <button class="send-button" id="send-button1">
        Send
        </button>
    </div>

    <button class="exit">
        나가기
    </button>

    <script src="/static/function.js"></script>
</body>
</html>
